{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block head %}
    <title>Project Amnesia Demo</title>
{% endblock %}


{% block body %}
    <header>
        <nav>
            <ul>
                <li><a href="https://ssc.io/">Home</a></li>
                <li><a href="https://github.com/schelterlabs/projects-amnesia">Github</a></li>
                <li id='title'>Project Amnesia Demo</li>
                <li><a href="https://drive.google.com/file/d/1FU4svEaLb6a5v8CI4tl4YQpv4Cr4DUei/view">Slides</a></li>
                <li><a href="https://drive.google.com/file/d/17M6k_b94stLyPB6LHOq9td2pRDAmREr8/view">Paper</a></li>
        </nav>
    </header>
    <section class="contents">
        <div class="matrices">
            <table id='history_matrix'>
                <caption>Updated History Matrix</caption>
                <tr>
                    <th>User </th>
                    {% for movie in item_inter %}
                        <th>Movie {{ loop.index0 }}</th>
                    {% endfor %}
                </tr>
                {% for user in history %}
                    {% if matrix_update[loop.index0] == 1 %}
                        <tr>
                            <th>User {{ loop.index0 }}</th>
                            {% for action in user %}
                                <td>{{ action }}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <table id='interaction_matrix'>
                <caption>Updated Interaction Matrix</caption>
                <tr>
                    {% for movie in item_inter %}
                        <th>Movie {{ loop.index0 }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for interaction in item_inter %}
                        <td>{{ interaction }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        
        <div class="matrix">
            <table id="cooc_matrix">
                <caption>Updated Cooccurrence Matrix</caption>
                <tr>
                    <th>Items</th>
                    {% for movie in item_inter %}
                        <th>Movie {{ loop.index0 }}</th>
                    {% endfor %}
                </tr>
                {% for movie in cooc %}
                <tr>
                    <th>Movie {{ loop.index0 }}</th>
                    {% for interaction in movie %}
                        <td>{{ interaction }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                
            </table>
        </div>
        <div class="matrix">
            <table id='similarity_matrix'>
                <caption>Updated Similarity Matrix</caption>
                <tr>
                    <th>Items</th>
                    {% for movie in item_inter %}
                        <th>Movie {{ loop.index0 }}</th>
                    {% endfor %}
                </tr>
                {% for movie in simi %}
                <tr>
                    <th>Movie {{ loop.index0 }}</th>
                    {% for similarity in movie %}
                        <td>{{ similarity }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </table>
        </div>
    </section>

    <section class="buttons">
        <!-- <input type = "button" onclick = "update()" value = "Say Hello" /> -->
        <form method="post">
            <button id="update_button" type="submit">Return!</button>
        </form>
    </section>

    <footer id="address">
        60 5th Ave, New York, NY, 10011 • Center for Data Science, New York University        
    </footer>
{% endblock %}