<html>   
  
<head>  
    <title>  
        JSON file to HTML talbe - Amnesia Demo
    </title> 
      
    <script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> 
    </script> 
<style>
table, th, td {
    border: 1px solid black;
  }
</style>
</head>  
  
<body style = "text-align:center;" id = "body">   
      
    <h1 style = "color:green;" >   
        Amnesia Demo 
    </h1> 
      
    <p id = "GFG_UP" style =  
        "font-size: 15px; font-weight: bold;"> 
    </p> 
      
    <button id="addInteractions"> 
        click here 
    </button> 

    <div id="divInteractions">

    </div>
      
    <br><br> 
      
    <table align = "center"
            id="table" border="1"> 
    </table> 
      
    <script lang="javascript">
    // define two dictionaries 
    // one for time_0 and another for time_1    
    var time_0 = {};
    var time_1 = {};


    // reading the json file as text
    function readTextFile(file, callback) {
        var rawFile = new XMLHttpRequest();
        rawFile.overrideMimeType("application/text");
        rawFile.open("GET", file, true);
        rawFile.onreadystatechange = function() {
            if (rawFile.readyState === 4 && rawFile.status == "200") {
                callback(rawFile.responseText);
            }
        }
        rawFile.send(null);
    }

    function appendValidObject(dataItem)
    {
        var temp = dataItem.time == 0? time_0: time_1;

        switch(dataItem.data)
        {
            case 'interactions':
               
                    if (dataItem.data in temp)
                    {
                        temp[dataItem.data].push({'item': dataItem.item , 'user':  dataItem.user });
                    }
                    else
                    {
                        temp[dataItem.data] = [{'item': dataItem.item  , 'user':  dataItem.user }];
                    }
               

            break;
            case 'cooccurrences_c':
                    
                    if (dataItem.data in temp)
                    {
                        temp[dataItem.data].push({'item_a': dataItem.item_a , 'item_b':  dataItem.item_b, 'num_cooccurrences': dataItem.num_cooccurrences });
                    }
                    else
                    {
                        temp[dataItem.data] = [{'item_a': dataItem.item_a  , 'item_b':  dataItem.item_b, 'num_cooccurrences': dataItem.num_cooccurrences }];
                    }
                    
            break;
            case 'similarities_s':
            if (dataItem.data in temp)
                    {
                        temp[dataItem.data].push({'item_a': dataItem.item_a , 'item_b':  dataItem.item_b, 'similarity': dataItem.similarity });
                    }
                    else
                    {
                        temp[dataItem.data] = [{'item_a': dataItem.item_a  , 'item_b':  dataItem.item_b, 'similarity': dataItem.similarity }];
                    }
                    
            break;
            case 'item_interactions_n':
            if (dataItem.data in temp)
                    {
                        temp[dataItem.data].push({'item': dataItem.item , 'count':  dataItem.count});
                    }
                    else
                    {
                        temp[dataItem.data] = [{'item': dataItem.item  , 'count':  dataItem.count }];
                    }
        }

    }

    //usage:
    readTextFile("../static/sample-output.json", function(text){
        var data = text.split('\n');
        for (i = 0; i < data.length; i++)
        {
            try
            {
            if (data[i].trim() == "")
                continue
            else
                {
                var dataItem = JSON.parse(data[i]);
                appendValidObject(dataItem)
                }
            }
            catch
            {
                alert(data[i]);
            }
        }
    });


    $(function() {	
    $("#addInteractions").click(function() {
        if($('#divInteractions table').length > 0)
        {
            var row = $('<tr></tr>');
            for(i=0; i<10; i++){
                var row1 = $('<td></td>').addClass('bar').text('result ' + i);
                row.append(row1);
            }
            $('#divInteractions table').append(row);
        }
        else
        {
            var table = $('<table></table>').addClass('foo');
            for(i=0; i<10; i++){
                var row = $('<tr></tr>');
                for(i=0; i<10; i++){
                    var row1 = $('<td></td>').addClass('bar').text('result ' + i);
                    table.append(row);
                    row.append(row1);
                }
            }
            $('#divInteractions').append(table);
        }
    });
});



        var el_up = document.getElementById("GFG_UP"); 
          
        var list = [ 
            { "col_1": "val_11", "col_3": "val_13" }, 
            { "col_2": "val_22", "col_3": "val_23" }, 
            { "col_1": "val_31", "col_3": "val_33" } 
        ]; 
        
          
        el_up.innerHTML = "Click on the button to create " 
                +   "the table from the JSON data.<br><br>" 
                + JSON.stringify(list[0]) + "<br>"  
                + JSON.stringify(list[1]) + "<br>" 
                + JSON.stringify(list[2]);    
              
        function constructTable(selector) { 
              
            // Getting the all column names 
            var cols = Headers(list, selector);   
   
            // Traversing the JSON data 
            for (var i = 0; i < list.length; i++) { 
                var row = $('<tr/>');    
                for (var colIndex = 0; colIndex < cols.length; colIndex++) 
                { 
                    var val = list[i][cols[colIndex]]; 
                      
                    // If there is any key, which is matching 
                    // with the column name 
                    if (val == null) val = "";   
                        row.append($('<td/>').html(val)); 
                } 
                  
                // Adding each row to the table 
                $(selector).append(row); 
            } 
        } 
          
        function Headers(list, selector) { 
            var columns = []; 
            var header = $('<tr/>'); 
              
            for (var i = 0; i < list.length; i++) { 
                var row = list[i]; 
                  
                for (var k in row) { 
                    if ($.inArray(k, columns) == -1) { 
                        columns.push(k); 
                          
                        // Creating the header 
                        header.append($('<th/>').html(k)); 
                    } 
                } 
            } 
              
            // Appending the header to the table 
            $(selector).append(header); 
                return columns; 
        }        
    </script>  
</body>   
  
</html> 